*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}
.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: aqua;
 .hero h1{
        color: black;
        font-size: 40px;
        font-family: italic;
        font-weight: bolder;
        justify-content:start;

    }
}
nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding:20px 0;
    align-items:center;
    justify-content:space-between;
}
nav ul li{
    display:inline-block;
    list-style:none;
    margin: 10px 20px;
}
nav ul a{
    text-decoration: none;
    color: black;
    font-weight: bold;

}
nav ul a:hover{
    color:hotpink
}
.dt{

    margin-left: 8%;
    margin-top: 15%;

}
.dt h1{
    font-size: 50px;
    color: black;
    margin-bottom: 20px;
}
span{
    color: orange;
}
.dt p{
    color: black;
    line-height: 22px;

}
.dt a{
    background:rgb(14, 12, 12);
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(191, 191, 226);
    display: inline-block;
    margin: 30px 0px;
    border-radius: 5px;
}
.img{
    width: 45%;
    height: 80%;
    position:absolute;
    bottom:0%;
    right: 100px;


}
.img .us{
    height: 80%;
    position: absolute;
    left: 10%;
    bottom: 20%;
    border-radius: 20px;
}

